<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Bloomberg Warehouse</title>
</head>
<body>
<form method="POST" th:action="@{/upload}" enctype="multipart/form-data">
    <div class="form-group mt-3">
        <h1><label for="file">Select a CSV file</label></h1><br>
        <input type="file" name="file" class="form-control-file" id="file" accept=".csv">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Upload Deal</button>
   <div class="container py-5">
    <div class="row">
        <div class="col-10 mx-auto">
            <h1>File Upload Status</h1>
            <p>FILE : <span th:text="${fileName}">0</span></p>
			<p>DURATION : <span th:text="${duration}">0</span></p>
			<p>SUCCESS : <span th:text="${success}">0</span></p>
			<p>FAILED : <span th:text="${failed}">0</span></p>
			<p>TOTAL : <span th:text="${total}">0</span></p>
			<p>MESSAGE : <span th:text="${message}">0</span></p>
        </div>
    </div>
</div>
</form>
</body>
</html>